<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Add student</title>
  </head>
  <body>
    <div class="container">
      <%- include("../partial/header.ejs") %>

      <form action="/add" method="POST">
        <h3>Ajouter un etudiant</h3>
        <div>
          <label for="nom">Nom</label>
          <input
            type="text"
            id="nom"
            placeholder="Entrez votre nom"
            name="nom" />
        </div>
        <div>
          <label for="prenom">Prenom</label>
          <input
            type="text"
            id="prenom"
            placeholder="Entrez votre prenom"
            name="prenom" />
        </div>
        <div>
          <label for="tel">Telephone</label>
          <input
            type="tel"
            id="tel"
            placeholder="Entrez votre Tel"
            name="tel" />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Entrez votre email"
            name="email" />
        </div>
        <input type="submit" value="Add Student" />
      </form>
    </div>
  </body>
</html>
